/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

#header {
  height: 60px;
  background-color: #000;
}
.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  font-size: 20px;
  font-weight: bold;
  color: #ffff;
  margin-left: 35px;
  line-height: 70px;
}
.header-nav ul {
  display: flex;
}
.header-nav li {
  margin-right: 35px;
  font-size: 16px;
}
.header-nav a {
  text-decoration: none;
  color: #ffff;
}

.eyecatch {
  height: 700px;
  background: url(../img/eyecatch.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.eyecatch p {
  font-size: 30px;
  font-weight: bold;
  color: #ffff;
  position: absolute;
  top: 60%;
  left: 25%;
  transform: translate(-50%, -50%);
}
.news-wrap {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
}
.news-title p {
  width: 500px;
  background: #f2f2f2;
  font-size: 8px;
  font-weight: lighter;
  color: #000;
  white-space: pre;
  padding: 20px, 40px;
  line-height: 13px;
  position: static;
}
.news-content {
  transform: none;
}
.button {
  transform: none;
}
.news-button a {
  width: 100px;
  background: #000;
  font-size: 8px;
  font-weight: bold;
  color: #ffff;
  padding: 20px 40px;
  align-items: center;
}

#mission {
  height: 400px;
  background-color: #000;
  position: relative;
}
#mission img {
  position: absolute;
  top: 40%;
  left: 50%;
  height: 270px;
  width: 400px;
}
.mission-wrap {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}
#mission h2 {
  font-size: 16px;
  color: #cccccc;
}
#mission p {
  font-size: 10px;
  color: #cccccc;
  width: 600px;
}
#mission h2,
#mission p {
  margin-bottom: 30px;
}

#service {
  height: 1400px;
  background-color: #dddddd;
  margin-top: 100px;
}
#service img {
  height: 270px;
  width: 400px;
}