/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

#header {
  height: 60px;
  background-color: #000;
}
.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  font-size: 20px;
  font-weight: bold;
  color: #ffff;
  margin-left: 35px;
  line-height: 70px;
}
.header-nav ul {
  display: flex;
}
.header-nav li {
  margin-right: 35px;
  font-size: 16px;
}
.header-nav a {
  text-decoration: none;
  color: #ffff;
}

.eyecatch {
  height: 700px;
  background: url(../img/eyecatch.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.eyecatch p {
  font-size: 30px;
  font-weight: bold;
  color: #ffff;
  position: absolute;
  top: 60%;
  left: 25%;
  transform: translate(-50%, -50%);
}
.news-wrap {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
}
.news-title {
  width: 400px;
  height: 60px;
  background-color: #f2f2f2;
}
.news-title p {
  font-size: 8px;
  font-weight: lighter;
  color: #000;
  white-space: pre;
  padding: 20px, 40px;
  line-height: 13px;
  position: static;
}
.eyecatch .news-title .news-content {
  transform: none;
}
.eyecatch .news-button .button {
  transform: none;
  position: static;
}
.news-button {
  height: 60px;
  width: 160px;
  background-color: #000;
}
.news-button p {
  font-size: 14px;
  font-weight: bold;
  color: #cccccc;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
  border: 1px solid #000;
}
.news-button a {
  text-decoration: none;
  color: #cccccc;
  font-size: 12px;
}

#mission {
  height: 400px;
  background-color: #000;
  position: relative;
}
#mission img {
  position: absolute;
  top: 40%;
  left: 50%;
  height: 270px;
  width: 400px;
}
.mission-wrap {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}
#mission h2 {
  font-size: 16px;
  color: #cccccc;
}
#mission p {
  font-size: 10px;
  color: #cccccc;
  width: 600px;
}
#mission h2,
#mission p {
  margin-bottom: 30px;
}
.mission-button {
  padding: 5px 20px;
  font-size: 10px;
  border: thin solid #f2f2f2;
  border-radius: 1px;
}

#service {
  height: 1000px;
  background-color: #dddddd;
  margin-top: 100px;
  position: relative;
}
#service h2 {
  font-size: 28px;
  font-weight: bold;
  padding-top: 20px;
  text-align: center;
}
.servicetop-photo {
  height: 350px;
  width: 550px;
  position: absolute;
  top: 7%;
  right: 0;
}
.servicetop-contents {
  width: 400px;
  height: 200px;
  background-color: white;
  position: absolute;
  top: 15%;
  right: 40%;
  padding: 30px 40px;
  box-sizing: border-box;
}
.servicetop-contents h3 {
  margin-top: 15px;
  font-size: 12px;
}
.servicetop-contents h4 {
  margin-top: 15px;
  font-size: 12px;
  font-weight: lighter;
}
.servicetop-contents p {
  margin-top: 15px;
  font-size: 10px;
}
.servicetop-contents button {
  padding: 5px 20px;
  font-size: 10px;
  border: thin solid #000;
  border-radius: 1px;
  background-color: white;
}
.servicetop-button {
  text-align: right;
}

.servicebottom-photo {
  height: 350px;
  width: 550px;
  position: absolute;
  bottom: 100px;
  left: 0;
}
.servicebottom-contents {
  height: 240px;
  width: 400px;
  background-color: white;
  position: absolute;
  bottom: 13%;
  left: 40%;
  padding: 30px 40px;
  box-sizing: border-box;
}
.servicebottom-contents h3 {
  margin-top: 20px;
  font-size: 12px;
}
.servicebottom-contents h4 {
  margin-top: 20px;
  font-size: 12px;
  font-weight: lighter;
}
.servicebottom-contents p {
  margin-top: 20px;
  font-size: 10px;
}
.servicebottom-contents button {
  padding: 5px 20px;
  font-size: 10px;
  border: thin solid #000;
  background-color: white;
  border-radius: 1px;
}
.servicebottom-button {
  text-align: right;
}

.company-wrap {
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
#company {
  width: 45%;
  height: 200px;
  background: url(../img/company.jpeg) no-repeat;
  background-size: cover;
}
#recruit {
  width: 45%;
  height: 200px;
  background: url(../img/recruit.jpg) no-repeat;
  background-size: cover;
}
.section-title-e,
.section-title-j {
  font-weight: bold;
  color: #f2f2f2;
  text-align: center;
}
.section-title-e {
  font-size: 20px;
  padding-top: 4em;
}
.section-title-j {
  font-size: 12px;
  padding-top: 10px;
}

#FAQ {
  height: 80px;
  width: 70%;
  background-color: #000;
  margin: 10% auto;
  padding: 20px 30px;
  box-sizing: border-box;
}
.FAQ-e,
.FAQ-j {
  display: inline;
  vertical-align: text-bottom;
}
.FAQ-e {
  font-size: 28px;
  font-weight: bolder;
  color: #f2f2f2;
  margin-left: 20px;
}
.FAQ-j {
  font-size: 12px;
  color: #f2f2f2;
  margin-left: 250px;
}

#contact {
  height: 450px;
  background: url(../img/contact-bg.jpg) no-repeat;
  background-size: cover;
}
.contact-wrap {
  color: #f2f2f2;
  text-align: center;
}
#contact .section-title {
  padding: 20px;
}
#contact .section-title h2 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 100px;
}
#contact .section-title h3 {
  font-size: 10px;
  padding: 10px;
}
.contact-contents h4 {
  font-size: 20px;
  font-weight: lighter;
}
.contact-contents p {
  font-size: 10px;
  padding: 20px;
}
.contact-button {
  padding: 10px;
}
.button {
  color: #f2f2f2;
  font-size: 10px;
  padding: 5px 20px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid #f2f2f2;
}

.footer {
  height: 100px;
  background-color: #000;
  align-items: center;
  /* display: flex;
   */
}
.footer-wrap {
  display: flex;
  align-items: center;
  display: flex;
  padding-top: 30px;
}
.footer-wrap h2 {
  color: #f2f2f2;
  font-weight: bold;
  margin-left: 50px;
  white-space: nowrap;
}
.footer-nav-list {
  display: flex;
  margin-left: 650px;
}
.footer-nav-item {
  color: #f2f2f2;
  margin-right: 15px;
}
.footer-nav-list a {
  font-size: 12px;
  color: #f2f2f2;
  text-decoration: none;
}
/* .footer-small {
  display: flex;
  flex-direction: column;
}
.small {
  font-size: 10px;
  color: #f2f2f2;
} */

.footer-small {
  height: 30px;
  /* width: fit-content; */
  background-color: #000;
  align-items: center;
  line-height: 80px;
  padding: 0 450px;
  box-sizing: border-box;
  white-space: nowrap;
  /* display: flex;
  flex-direction: column; */
}

.small {
  font-size: 8px;
  color: #f2f2f2;
  padding: auto 60px;
}
